---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card/index';
import Form from '../components/Form/index';
---
<Layout>
	<main>
		<Form client:only="react"/>
		<Card client:only="react"/>
	</main>
</Layout>


